@using nam.ho.local.Models
@model nam.ho.local.Models.NavigationMenuItem

<!-- [Page Navigation] -->
<h4><a href="@Model.URL">@Model.Title</a></h4>
<div class="sidebar sidebar-static">
    @RenderMenu(Model)
</div>
<!-- [/Page Navigation] -->
@helper RenderMenu(NavigationMenuItem navItem)
{
    if (navItem.Children != null)
    {
        <ul class="nav nav-pills nav-stacked">
            @foreach (var menuEntry in navItem.Children)
            {
                <li class="@(menuEntry.Children !=null ? "open" : string.Empty)">
                    <a href="@menuEntry.URL">@menuEntry.Title</a>
                </li>
            }
        </ul>
    }
}